@model IZSLER_CAP.Models.FigProfWorkflowModel 
@{
    ViewBag.Title = "FigProfWorkflow";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}
@using IZSLER_CAP.Helpers  
<table  class="table responsive-table" id="sorting-trackingFigProf">
 <thead>
            <tr>
                <th scope="col" width="10%" class="align-center" >Data</th>
                <th scope="col" width="15%" class="align-center hide-on-mobile">Utente</th>
		        <th scope="col" width="15%" class="align-center hide-on-mobile-portrait">Costo unitario</th>
                
                
               @* <th scope="col" width="5%" class="align-center">Priorit&agrave;</th>
                <th scope="col" width="5%" class="align-center">Tipo</th>
		        <th scope="col" width="5%" class="align-center">Stato</th>*@
            </tr>
        </thead>
        <tfoot>
		    <tr>
			    <td colspan="3">
				    @Model.ElencoTrkFigProf.Count().ToString() Tracking presenti
			    </td>
		    </tr>
	    </tfoot>
        <tbody>
        @foreach (var item in Model.ElencoTrkFigProf.OrderByDescending(z => z.Trkfig_id))
        { 
            <tr>
            
            <td class="align-center">@Html.GetDateTimeFormat(item.Trkfig_DataIns) &nbsp; @Html.GetDateTimeHourFormat(item.Trkfig_DataIns)</td>
            <td >@Html.DisplayFor(modelItem => item.Trkfig_Utente_Cognome)&nbsp;@Html.DisplayFor(modelItem => item.Trkfig_Utente_Nome)  </td>
            <td class="with-tooltip" >@Html.DisplayFor(modelItem => item.Trkfig_Costo)</td>
            
            @*<td class="align-center hide-on-tablet"><small class="tag @item.Trkric_t_ricpri_color-bg"><label for="@item.Trkric_t_ricpri_color">@item.Trkana_T_Staval_desc</label></small></td>
            <td class="align-center hide-on-tablet"><small class="tag @item.Trkric_t_richie_color-bg"><label for="@item.Trkric_t_richie_color">@item.Trkric_t_richie_desc</label></small></td>  
            <td class="align-center">@Html.DisplayFor(modelItem => item.Trkana_T_Staval_desc)</td>*@
            
            </tr>
        }
        </tbody>
</table> 
 <script  type ="text/javascript">     loadScriptRef("startPopupFigProfWF.js");</script>

