@model IZSLER_CAP.Models.ListaAnalisiModel
@using IZSLER_CAP.Helpers
@functions
{
     public string SetColorBloccato(bool flgBloccato)
     {
         if (flgBloccato)
             return "tag red-bg";
         return "tag green-bg";
     }
     public string SetLabelBloccato(bool flgBloccato)
     {
         if (flgBloccato)
             return "Bloccato";
         return "Attivo";
     }
     public string SetLabelCosto(decimal? costo)
     {
         if (costo != null)
             return string.Format("{0:f2}", costo) + " €";
         return "";
     }

     public List<MyAnalisi> GetElencoAnalisi()
     {
         int profilo_id = @Html.GetUserProfileID();
         int utente_id = @Html.GetUserID();
         List<MyAnalisi> lst = Model.GetAnalisiDaValorizzare(utente_id,profilo_id );
         
         return lst;
     }

     public string RimuoviApici(string s)
     {
        
        if(s != null)
        {
            s = s.Replace("'", "\\'");
        }
         
        return s;
    }


     public int GetResultNumbers()
     {
         return Model.Data.Count();
     }
     public string GetStringResultNumbers()
     {
         int i = GetResultNumbers();
         if (i == 0)
             return "Nessun elemento presente";
         else
         {
             if (i == 1)
                 return i.ToString() + " elemento presente";
             return i.ToString() + " elementi presenti";
         }
     }
     public int InitPage(int passo)
     {
         int currPage = 1;
         int NumberOfPages = 1;
         try
         {
             currPage = @Model.CurrentPage;
         }
         catch { currPage = 1; }
         try
         {
             NumberOfPages = @Model.NumberOfPages;
         }
         catch { NumberOfPages = 1; }
         if (NumberOfPages < passo)
         {//return currPage;
             int height = currPage / passo;
             if ((currPage % passo) == 0)
             {
                 height = height - 1;
             }
             return (height * passo) + 1;
         }
         if (NumberOfPages >= passo)
         {
             int height = currPage / passo;
             if ((currPage % passo) == 0)
             {
                 height = height - 1;
             }
             return (height * passo) + 1;

         }
         return 1;
     }
     public int EndPage(int passo)
     {
         int currPage = 1;
         int NumberOfPages = 1;
         try
         {
             currPage = @Model.CurrentPage;
         }
         catch { currPage = 1; }
         try
         {
             NumberOfPages = @Model.NumberOfPages;
         }
         catch { NumberOfPages = 1; }
         if (currPage > NumberOfPages)
         { @Model.CurrentPage = NumberOfPages; }

         if (NumberOfPages < passo)
         {
             return NumberOfPages + 1;

         }
         else
         {
             return InitPage(passo) + passo;
         }
     }
}

<script type="text/javascript">
    var urlRedirect = '/Analisi/PopUpAnalisi';
    $(document).ready
        (
             
             function () {
                $('#sorting-Analisi_last').click(function (e) {
                     e.stopImmediatePropagation();
                     e.stopPropagation();
                     $('#sorting-Analisi_last').unbind('click');
                     var pageNum = $('#NumOfPages_id').val();
                     var NumEntities = $('#NumEntities').val();
                     var table_search = $('#table_search').val();
                     var ValPos_id = $('#ValPos_id').val();
                     var Sec_id = $('#Sec_id').val();

                     var emp = { NumEntities: NumEntities,
                         SearchDescription: table_search,
                         CurrentPage: pageNum,
                         valpos_id: ValPos_id,
                         sec: Sec_id
                     };
                     callAjax(urlRedirect, emp);
                 });


                 $('#sorting-Analisi_first').click(function (e) {
                     e.stopImmediatePropagation();
                     e.stopPropagation();
                     $('#sorting-Analisi_first').unbind('click');
                     var pageNum = 1
                     var NumEntities = $('#NumEntities').val();
                     var table_search = $('#table_search').val();
                     var ValPos_id = $('#ValPos_id').val();
                     var Sec_id = $('#Sec_id').val();

                     var emp = { NumEntities: NumEntities,
                         SearchDescription: table_search,
                         CurrentPage: pageNum,
                         valpos_id: ValPos_id,
                         sec: Sec_id
                     };
                     callAjax(urlRedirect, emp);
                 });

                 $('#sorting-Analisi_previous').click(function (e) {
                     e.stopImmediatePropagation();
                     e.stopPropagation();
                     $('#sorting-Analisi_previous').unbind('click');
                     var pageNum = parseInt($(".paginate_active").html());
                     if (pageNum >= 2)
                     { pageNum = pageNum - 1; }
                     var NumEntities = $('#NumEntities').val();
                     var table_search = $('#table_search').val();
                     var ValPos_id = $('#ValPos_id').val();
                     var Sec_id = $('#Sec_id').val();

                     var emp = { NumEntities: NumEntities,
                         SearchDescription: table_search,
                         CurrentPage: pageNum,
                         valpos_id: ValPos_id,
                         sec: Sec_id
                     };
                     callAjax(urlRedirect, emp);
                 });

                 $('#sorting-Analisi_next').click(function (e) {
                     e.stopImmediatePropagation();
                     e.stopPropagation();
                     $('#sorting-Analisi_next').unbind('click');
                     var pageNum = parseInt($(".paginate_active").html());
                     pageNum = pageNum + 1;
                     var NumEntities = $('#NumEntities').val();
                     var table_search = $('#table_search').val();
                     var ValPos_id = $('#ValPos_id').val();
                     var Sec_id = $('#Sec_id').val();

                     var emp = { NumEntities: NumEntities,
                         SearchDescription: table_search,
                         CurrentPage: pageNum,
                         valpos_id: ValPos_id,
                         sec: Sec_id
                     };
                     callAjax(urlRedirect, emp);
                 });

                 $('.page-number').click(function (e) {
                     e.stopImmediatePropagation();
                     e.stopPropagation();
                     $('.page-number').unbind('click');
                     var pageNum = parseInt($(this).html());
                     var NumEntities = $('#NumEntities').val();
                     var table_search = $('#table_search').val();
                     var ValPos_id = $('#ValPos_id').val();
                     var Sec_id = $('#Sec_id').val();

                     var emp = { NumEntities: NumEntities,
                         SearchDescription: table_search,
                         CurrentPage: pageNum,
                         valpos_id: ValPos_id,
                         sec: Sec_id
                     };
                     callAjax(urlRedirect, emp);
                 });


                 $('select[id^="NumEntities"]').change
                (
                  function () {
                      // alert('change NumEntities');
                      var idSelVal = $(this).val();
                      var table_search = $('#table_search').val();
                      var ValPos_id = $('#ValPos_id').val();
                      var Sec_id = $('#Sec_id').val();

                      var emp = { NumEntities: idSelVal,
                          SearchDescription: table_search,
                          valpos_id: ValPos_id,
                          sec: Sec_id
                      };
                      callAjax(urlRedirect, emp);
                  }
                )

                 $('input[id^="table_search"]').change
                (function () {
                    //alert('change table_search');
                    var idSelVal = $(this).val();
                    var NumEntities = $('#NumEntities').val();
                    var ValPos_id = $('#ValPos_id').val();
                    var Sec_id = $('#Sec_id').val();


                    var emp = { NumEntities: NumEntities,
                        SearchDescription: idSelVal,
                        valpos_id: ValPos_id,
                        sec: Sec_id
                    };
                    callAjax(urlRedirect, emp);
                })


             }
        );
     
</script>
<div id="myGridPopUpAnalisi">
    <div class="table-header blue-gradient button-height"> 
            <div class="float-right">
		        Ricerca &nbsp;<input type="text" name="table_search" id="table_search" value="@Model.SearchDescription" class="input mid-margin-left"/>
	        </div>Mostra&nbsp;
            @Html.DropDownListFor(x => x.NumEntities, Model.EntitiesN, null, new { Class = "select blue-gradient glossy replacement" })&nbsp;
            &nbsp;[@GetStringResultNumbers()]
            
            <input type="hidden" value="@Model.NumberOfPages" id = "NumOfPages_id" />
    </div>
         @if (Model.Data.Count() > 0)
         {
              <table class="table responsive-table" width="100%">
                    <thead>
                    
                    <tr>
                       <th scope="col" width="20px" class="align-center">&nbsp;</th>
                       <th scope="col" width="25%" class="align-center ">Descrizione VN</th>
		            <th scope="col" width="10%" class="align-center ">Codice VN</th>
                    <th scope="col" width="15%" class="align-center ">MP+rev.</th>
                    <th scope="col" width="15%" class="align-center hide-on-mobile">Tecnica</th>
                    <th scope="col" width="20%" class="align-center hide-on-mobile">Gruppo</th>
                    @*<th scope="col" width="15%" class="align-center ">Utente</th>*@
                    <th scope="col" width="15%" class="align-center ">Stato</th>
                    @*<th scope="col" width="10%" class="align-center ">Costo unitario al minuto</th>*@
		            
        
                    </tr>
                </thead>
                <tfoot class="dataTables_footer">
		            <tr>
                    <td colspan="7" class = "button-height align-right" style ="background:transparent;border:0px;color:#FFFFFF;">
                    <div class="dataTables_paginate paging_full_numbers" id="sorting-Analisi_paginate" style="padding:0px">
                        <a tabindex="0" class="first paginate_button" id="sorting-Analisi_first">Inizio</a>
                        <a tabindex="0" class="previous paginate_button" id="sorting-Analisi_previous">Precedente</a>
                        <span>
                        @{
                             int passo = 5;
                             int start = @InitPage(passo);
                             int end = @EndPage(passo);

                             for (int i = start; i < end; i++)
                             {
                                 if (i == Model.CurrentPage)
                                 {
                                           <a class="paginate_active" style ="">@i</a>
                                 }
                                 else
                                 {
                                            <a class="page-number paginate_button" href="#" style ="">@i</a>
                                 }
                             }
                        }
                        </span>
                        <a tabindex="0" class="next paginate_button paginate_button" id="sorting-Analisi_next">Successivo</a>
                        <a tabindex="0" class="last paginate_button paginate_button" id="sorting-Analisi_last">Fine</a>
                    </div>
                    </td>
                   </tr>
	            </tfoot>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                        <td><input type="radio" name="indirizzi" id="@item.Analisi_id" 
                        value="@Html.DisplayFor(modelItem => item.Analisi_VN)"  
                        onclick ="saveDataPopUpAnalisi(@item.Analisi_id,'@RimuoviApici(item.Analisi_CodiceGenerico)');"/></td>
               
                        <td class="align-center">
                            @Html.DisplayFor(modelItem => item.Analisi_Codice_Descrizione)
                        </td>
                        <td class="align-center">
                            @Html.DisplayFor(modelItem => item.Analisi_VN)
                        </td>
                        <td class="align-center">
                            <img src="../Content/img/fineFiles/16/pdf.png"/>
                            @Html.DisplayFor(modelItem => item.Analisi_MP_Rev)
                        </td>
                        <td class="align-center">
                            @Html.DisplayFor(modelItem => item.Analisi_Tecnica)
                        </td>
                        <td class="align-center">
                            @Html.DisplayFor(modelItem => item.Analisi_Gruppo_desc)
                        </td>
                       @* <td class="align-center">
                            @Html.DisplayFor(modelItem => item.Analisi_utente_des_cognome)&nbsp;@Html.DisplayFor(modelItem => item.Analisi_utente_des_nome)  
                        </td>*@
                        <td class="align-center">
                            @Html.DisplayFor(modelItem => item.Analisi_T_Staval_desc)
                        </td>
           @*
                        <td class="align-center">
                            @Html.Label(@SetLabelCosto(item.Analisi_CostoTot))
                        </td*@
              
                              
                        </tr> 
                    }
                </tbody> 
          </table>
        }

</div>


<script type ="text/jscript">loadScriptRef("startPopUpAnalisi.js");</script>
<script type="text/javascript">      $("#table_search").focus(); 	</script>
