@model IZSLER_CAP.Models.ListaIntermediModel
@{
    ViewBag.Title = "Intermedi";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutOpen.cshtml";
}
@using IZSLER_CAP.Helpers
 <script type="text/javascript">
     function callAjax(urlSave, emp) {
         $.ajax
        (
            {
                type: "POST",
                url: urlSave,
                data: JSON.stringify(emp),
                datatype: "JSON",
                contentType: "application/json; charset=utf-8",
                success: function (retdata) {
                    $("#myGridIntermedi").html(retdata.partial);
                }
            }
        );
     }
    </script>


    <div class="with-padding">
     @*Gestione bottonoi*@
     <hgroup id="main-title" class="thin">
			<h1>@ViewBag.Message</h1>
			<h2><strong>@Html.GetDateDayFormat(DateTime.Now)</strong>&nbsp;@Html.GetHeaderDate(DateTime.Now)</h2>
            
     </hgroup>

    <p class="button-height">
     @if (@Html.IsVisible(CAIntermedi.BT_INTE_INS))
     {
        @Html.ActionLink("Inserimento nuovo intermedio", "../Intermedi/IntermedioInsert", null, new { Class = "button icon-plus-round green-gradient glossy" })
        @Html.Raw("&nbsp;")
        @Html.Raw("&nbsp;")
     }
     @if (@Html.IsVisible(CAIntermedi.BT_INTE_VALORIZZ_INTER))
     {
        @Html.ActionLink("Richiesta nuovo Intermedio", "../Home/RichiesteInsert", new { origine = "analisi_index_inter" }, new { Class = "button icon-plus-round green-gradient glossy" })
        @Html.Raw("&nbsp;")
     }
     <a href="/Content/Help/Manuale utente CAP.htm#Elenchi" target="_blank" class="button anthracite-gradient glossy">Help</a>
     </p>

    
  @Html.Partial("_Index")
    
    </div>



