@model IZSLER_CAP.Helpers.MyProdottoPos
@{
    bool secondaria = Convert.ToBoolean(ViewData["sec"]);
    string idParent = Convert.ToString(ViewData["par"]);
}

@using IZSLER_CAP.Helpers
@using IZSLER_CAP.Models

@functions
{
    public string getFatherId(string idParent, bool sec)
    {
        string sChild = getChildId(idParent, sec);
        string lret = "expandable_open_button" + sChild;
        return lret;
    }

    public string getChildId(string idParent, bool sec)
    {
        string lret = string.Empty;
        string sSec = sec ? "s" : "";
        if(string.IsNullOrEmpty(idParent))
        {
            lret =  "_"  + sSec + Model.ProdottoPos_id.ToString();
        }
        else
        {
            lret = idParent + "_" + sSec + Model.ProdottoPos_id.ToString();
        }
        return lret;

    }

    public AnalisiModel_IntermediEsplosiDetail getIntermedio()
    {
        //Rigadilog("Inizio query posizioni",@Model.ProdottoPos_Analisi_id.Value);
        
        AnalisiModel_IntermediEsplosiDetail an = new AnalisiModel_IntermediEsplosiDetail(@Model.ProdottoPos_Analisi_id.Value);
        
        //Rigadilog("Fine   query posizioni", @Model.ProdottoPos_Analisi_id.Value);
        return an;
    }
    /*
    public string Rigadilog(string location, int AnalisiPos_id)
    {
        StreamWriter sw = new StreamWriter("C:\\temp\\IZSLER_LOG.TXT", true);
        string riga = location + " " + DateTime.Now.Hour.ToString() + " " + DateTime.Now.Minute.ToString() + " " + DateTime.Now.Second.ToString();
        riga = riga + " ID: " + AnalisiPos_id.ToString();
        sw.WriteLine(riga);
        sw.Close();
        return riga;
    }
    */
        
}
<tr style ="width :100%" >
    <td width="10px">
        <a href='#' class="expandable-open-button" id="@getFatherId(idParent, secondaria)" rel="1" data-id="@Model.ProdottoPos_id" 
        onclick="javascript:toggleEsplosi(this,'@getChildId(idParent, secondaria)');">+</a>         
    </td>
    <td>@Model.ProdottoPos_Fase_Desc</td>
    <td>@Model.ProdottoPos_Analisi_Desc</td>
    <td>@Model.ProdottoPos_Quantita</td>
    <td>@Model.ProdottoPos_UdM_desc</td>
    
</tr>
<tr style ="width :100%;display:none;" id="@getChildId(idParent, secondaria)">
    <td width="10px"></td>
    <td colspan="4">
        <table class="table responsive-table" id="idTable">
            <thead>
                <tr>
                    <th scope="col" width="10px" class="align-center">&nbsp;</th>
                    <th scope="col" class="align-center">Fase</th>
                    <th scope="col" class="align-center">Descrizione</th>
                    <th scope="col" class="align-center">Quantità</th>
                    <th scope="col" class="align-center">UDM</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MyAnalisiPos_IntermediEsplosiDetail map in getIntermedio().ElencoAnalisiPos_IntermediEsplosiDetail)
                {//@foreach (MyAnalisiPos_IntermediEsplosiDetail map in getIntermedio().ElencoAnalisiPos_IntermediEsplosiDetail) //sim
                    //@foreach (MyAnalisiPos map in getIntermedio().ElencoAnalisiPos)
                    if (@map.AnalisiPos_Flg_Intermedio.HasValue && @map.AnalisiPos_Flg_Intermedio.Value)
                    { 
                        //aggiunta sim 06/5/20114
                        MyProdottoPos mappos = new MyProdottoPos();
                        mappos.ProdottoPos_id = map.AnalisiPos_id;
                        mappos.ProdottoPos_Analisi_id = map.AnalisiPos_Analisi_id;
                        mappos.ProdottoPos_Fase_Desc = map.AnalisiPos_Fase_desc;
                        mappos.ProdottoPos_Analisi_Desc = map.AnalisiPos_Analisi_Desc;
                        mappos.ProdottoPos_Quantita = map.AnalisiPos_Quantita;
                        mappos.ProdottoPos_UdM_desc = map.AnalisiPos_UdM_desc;                                
                        //fine aggiunta sim

                        //Rigadilog("Inizio chiamata nodo  ", map.AnalisiPos_id);
                        
                        @Html.Partial("_IntermediEsplosiDetail", @mappos, new ViewDataDictionary { { "sec", false }, { "par", getChildId(idParent, secondaria) },})
      
                        //Rigadilog("Fine   chiamata nodo  ", map.AnalisiPos_id);
                    
                        //@Html.Partial("_IntermediEsplosiDetail", @map, new ViewDataDictionary { { "sec", false }, { "par", getChildId(idParent, secondaria) } })
                    }
                    else if (@map.AnalisiPos_Prodotto_id.HasValue)
                    {
                         <tr style ="width :100%" >
                            <td width="10px"></td>
                            <td>@map.AnalisiPos_Fase_desc</td>
                            <td>@map.AnalisiPos_Prodotto_Desc</td>
                            <td>@map.AnalisiPos_Quantita</td>
                            <td>@map.AnalisiPos_UdM_desc</td>
                         </tr>
                    }
                    else if (@map.AnalisiPos_Analisi_id.HasValue)
                    {
                        <tr style ="width :100%" >
                            <td width="10px"></td>
                            <td>@map.AnalisiPos_Fase_desc</td>
                            <td>@map.AnalisiPos_Analisi_Desc</td>
                            <td>@map.AnalisiPos_Quantita</td>
                            <td>@map.AnalisiPos_UdM_desc</td>
                        </tr>
                    }
                    else
                    {
                        <tr style ="width :100%" >
                            <td width="10px"></td>
                            <td>@map.AnalisiPos_Fase_desc</td>
                            <td>@map.AnalisiPos_FigProf_desc</td>
                            <td>@map.AnalisiPos_Quantita</td>
                            <td>@map.AnalisiPos_UdM_desc</td>
                        </tr>
                    }
                }
             </tbody>
        </table>

        @if (getIntermedio().Analisi.Analisi_flgPonderazione == true)
        {
        <h2>&nbsp;</h2>
        <table class="table responsive-table" id="idTable">
        <thead>
            <tr>
                <th scope="col" width="10px" class="align-center">&nbsp;</th>
                <th scope="col" class="align-center">Fase</th>
                <th scope="col" class="align-center">Descrizione</th>
                <th scope="col" class="align-center ">Quantità</th>
                <th scope="col" class="align-center">UDM</th>
            </tr>
        </thead>
        <tbody>
        @foreach (MyAnalisiPos_IntermediEsplosiDetail map in getIntermedio().ElencoAnalisiPosSec_IntermediEsplosiDetail)
        {
        //@foreach (MyAnalisiPos_IntermediEsplosiDetail map in getIntermedio().ElencoAnalisiPosSec_IntermediEsplosiDetail) //sim
        //@foreach (MyAnalisiPos map in getIntermedio().ElencoAnalisiPosSec)
            if (@map.AnalisiPos_Flg_Intermedio.HasValue && @map.AnalisiPos_Flg_Intermedio.Value)
            { 
                //aggiunta sim 06/5/20114
                MyProdottoPos mappos = new MyProdottoPos();
                mappos.ProdottoPos_id = map.AnalisiPos_id;
                mappos.ProdottoPos_Analisi_id = map.AnalisiPos_Analisi_id;
                mappos.ProdottoPos_Fase_Desc = map.AnalisiPos_Fase_desc;
                mappos.ProdottoPos_Analisi_Desc = map.AnalisiPos_Analisi_Desc;
                mappos.ProdottoPos_Quantita = map.AnalisiPos_Quantita;
                mappos.ProdottoPos_UdM_desc = map.AnalisiPos_UdM_desc;                                
                //fine aggiunta sim

                //Rigadilog("Inizio chiamata nodo sec ", map.AnalisiPos_id);
                
                @Html.Partial("_IntermediEsplosiDetail", @mappos, new ViewDataDictionary { { "sec", true }, { "par", getChildId(idParent, secondaria) } })

                //Rigadilog("Fine   chiamata nodo sec ", map.AnalisiPos_id);
            
                //@Html.Partial("_IntermediEsplosiDetail", @map, new ViewDataDictionary { { "sec", true }, { "par", getChildId(idParent, secondaria) } })
            }
            else if (@map.AnalisiPos_Prodotto_id.HasValue)
            {
                 <tr style ="width :100%" >
                    <td width="10px"></td>
                    <td>@map.AnalisiPos_Fase_desc</td>
                    <td>@map.AnalisiPos_Prodotto_Desc</td>
                    <td>@map.AnalisiPos_Quantita</td>
                    <td>@map.AnalisiPos_Prodotto_UDM_Desc</td>
                 </tr>
            }
            else
            {
                <tr style ="width :100%" >
                    <td width="10px"></td>
                    <td>@map.AnalisiPos_Fase_desc</td>
                    <td>@map.AnalisiPos_Analisi_Desc</td>
                    <td>@map.AnalisiPos_Quantita</td>
                    <td>@map.AnalisiPos_UdM_desc</td>
                </tr>
                 
            }
        }
     </tbody>
     </table>
     }  
    </td>
</tr>


